<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
        <title>All Posts Page</title>
    </head>
    <body>
        <header>
            <div class="header-top">
                <a th:href="@{/login}">로그인</a>
                <a th:href="@{/join}">회원가입</a>
            </div>
            <div class="header-main">
                <h1 class="header-title"><a th:href="@{/}">게시게시판</a></h1>
            </div>
        </header>

        <nav>
            <a th:href="@{/}">홈</a>
            <a th:href="@{/freeBoard}">자유게시판</a>
            <a th:href="@{/noticeBoard}">공지사항</a>
        </nav>

    <section>
        <!-- 전체 게시물 표시 -->

        <article class="free-post">
            <h2>자유 게시물 1</h2>
            <p>게시물 내용이 여기에 들어갑니다.</p>
        </article>

        <article>
            <h2>게시물 제목 2</h2>
            <p>게시물 내용이 여기에 들어갑니다.</p>
        </article>

        <article class="free-post">
            <h2>자유 게시물 2</h2>
            <p>게시물 내용이 여기에 들어갑니다.</p>
        </article>

        <!-- 추가적인 게시물들을 동적으로 표시하거나, 페이지를 넘기는 등의 기능을 구현할 수 있습니다. -->
    </section>

    <footer>
        © 2023 게시게시판. All rights reserved.
    </footer>

</body>
</html>
