<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
        <title>Free Board Page</title>
    </head>
    <body>
        <header>
            <div class="header-top">
                <!-- 로그인 성공 시에만 유저의 닉네임과 로그아웃 버튼을 표시 -->
                <span th:if="${session.user}">
                    <span th:text="${session.user}">User</span>
                    <a th:href="@{/logout}">로그아웃</a>
                </span>
                <!-- 로그인하지 않은 경우에 로그인과 회원가입 버튼을 표시 -->
                <span th:unless="${session.user}">
                    <a th:href="@{/login}">로그인</a>
                    <a th:href="@{/join}">회원가입</a>
                </span>
            </div>
            <div class="header-main">
                <h1 class="header-title"><a th:href="@{/}">게시게시판</a></h1>
            </div>
        </header>

        <nav>
            <div class="search-box">
                <input type="text" placeholder="검색어를 입력하세요">
                <button type="button">검색</button>
            </div>
            <div class="nav-left">
                <a th:href="@{/}">홈</a> |
                <a th:href="@{/freeBoard}">자유게시판</a> |
                <a th:href="@{/noticeBoard}">공지사항</a>
            </div>

            <button class="write-post-btn" th:onclick="|javascript:window.location='@{/writePostPage}'|">글 쓰기</button>

        </nav>

        <section>
            <!-- 최신 FreeBoardPost를 Thymeleaf를 사용하여 동적으로 표시 -->
            <div th:each="post : ${latestFreeBoardPosts}">
                <article class="free-post">
                    <h2 th:text="${post.title}"></h2>
                    <p th:text="${post.user.nickname + ' | ' + post.timestamp}"></p><br><br>
                    <p th:text="${post.content}"></p>
                </article>
            </div>
        </section>

        <footer>
            © 2023 게시게시판. All rights reserved.
        </footer>

</body>
</html>