<!-- notice-board.html (공지사항) -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>공지사항</title>
</head>
<body>
    <header>
        <div class="header-top">
            <!-- 로그인 성공 시에만 유저의 닉네임과 로그아웃 버튼을 표시 -->
            <span th:if="${session.user}">
                <span th:text="${session.user}">User</span>
                <a th:href="@{/logout}">로그아웃</a>
            </span>
            <!-- 로그인하지 않은 경우에 로그인과 회원가입 버튼을 표시 -->
            <span th:unless="${session.user}">
                <a th:href="@{/login}">로그인</a>
                <a th:href="@{/join}">회원가입</a>
            </span>
        </div>
        <div class="header-main">
            <h1 class="header-title"><a th:href="@{/}">게시게시판</a></h1>
        </div>
    </header>

    <nav>
        <a th:href="@{/}">홈</a>
        <a th:href="@{/freeBoard}">자유게시판</a>
        <a th:href="@{/allPosts}">전체게시판</a>
    </nav>

    <section>
        <article>
            <h3><a href="#">공지사항 제목 1</a></h3>
            <p>공지사항 내용 1</p>
        </article>
        <article>
            <h3><a href="#">공지사항 제목 2</a></h3>
            <p>공지사항 내용 2</p>
        </article>
        <article>
            <h3><a href="#">공지사항 제목 3</a></h3>
            <p>공지사항 내용 3</p>
        </article>
        <!-- 추가적인 공지사항 항목을 필요에 따라 추가 -->
    </section>

    <!-- 페이지 내용 -->

</body>
</html>
